<app-sidebar></app-sidebar>
<div class="contenido">
    <div class="position container">
        <div class="col">
            <h2 class="text-center">Usuario</h2>
            <hr>
            <button class="btn btn-primary" (click)="addCustomer()">Agregar Usuario</button>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombres:</th>
                        <th>Cargo</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody class="bg-light text-dark">
                    <tr *ngFor="let customer of usuarios">
                        <td class="hidden">{{ customer.id }}</td>
                        <td>{{ customer.nombres }}</td>
                        <td>{{ customer.cargo }}</td>
                        <td>
                            <button class="btn btn-success" (click)="editCustomer(customer)">
            Editar
          </button>
                            <button class="btn btn-danger" (click)="deleteCustomer(customer)">
            Borrar
          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>