<!--
<div class="card">
  <div class="card-header">
    <h2 class="card-title text-center text-light my-auto">Contacto</h2>
  </div>
  <div class="card-body">
    <form>
      <div class="row col-sm-12 mx-auto">

        <div class="col-sm-9 my-auto">
            <p class="text-contact my-4 text-center text-light">
              ¡Haznos llegar tus dudas o sugerencias! Nuestro equipo se pondrá en contacto contigo lo antes posible.
            </p>
            <div class="row form-group">
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Nombre">
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="mail" placeholder="Correo Electrónico">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                  <input class="form-control" type="text" placeholder="Tema">
                </div>
            </div>

            <div class="row form-group">
              <div class="col-sm-12">
                <textarea class="form-control" type="text" placeholder="Mensaje" rows="2"></textarea>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-sm-12">
                  <input class="col-sm-12 btn btn-secondary btn-contacto" type="submit" placeholder="Asunto">
              </div>
            </div>
        </div>
          

          <div class="col-sm-3 ml-auto">
            <div class="text-center">
              <i class="fa fa-map-marker text-light mb-2 mt-3"></i>
              <p class="text-light">C. MamaOcllo #1900, Lince, Lima</p>
            </div>
            <div class="text-center">
              <i class="fa fa-phone-square text-light my-2"></i>
              <p class="text-light">(01) 253-5522</p>
            </div>
            <div class="text-center">
              <i class="fa fa-envelope-o text-light my-2"></i>
              <p class="text-light">servicio.cliente@boticafrancesa.com</p>
            </div>
          </div>

        </div>
    </form>
    
  </div>
</div>

-->