<div id="modal_login" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/assets/img/logo_afintesac.png" width="55" alt="Logo"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <div class="mx-auto text-center">
          <i class="fa fa-user-circle login_icon"></i>
        </div>

        <form>

            <input class="form-control col-8 mx-auto my-2 text-center" type="text" name="usuario" placeholder="Usuario">

            <input class="form-control col-8 mx-auto my-2 text-center" type="password" name="pass" placeholder="Contraseña">
          
        </form>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
        -->
        <button type="button" class="col-8 mx-auto my-1 btn btn-login">Acceder</button>

      </div>
    </div>
  </div>
</div>