<div id="_Nosotros" class="card">
	<div class="card-header">
		<h2 class="card-title text-center text-light my-auto">Nosotros</h2>
	</div>
	<div class="card-body">

		<div class="row col-12 mx-auto">

			<div class="col-sm-4 container-fluid">
				<div class="my-4 mx-auto text-center">
					<i class="fa fa-envira" onclick=""></i>
		        </div>
				<p class="card-text text-center text-light">Estamos comprometidos con ofrecer una amplia gama de productos de calidad que generen óptimos resultados, llevando los beneficios de la naturaleza al mercado en el que nos desenvolvemos.</p>
			</div>

			<div class="col-sm-4 container-fluid">
				<div class="my-4 mx-auto text-center">
		          <i class="fa fa-female" onclick=""></i>
		        </div>
				<p class="card-text text-center text-light">Somos una empresa dedicada a la elaboración de productos de formulario magistral y de tratamientos dermocosméticos faciales y corporales.</p>
			</div>
			
			<div class="col-sm-4 container-fluid">
				<div class="my-4 mx-auto text-center">
					<i class="fa fa-heart" onclick=""></i>
		        </div>
				<p class="card-text text-center text-light">Como consumidor final, esteticista o doctor; podrás conseguir en nosotros experiencia, investigación, garantía y confianza, todo conjugado para elaborar excelentes productos para la salud de la piel.</p>
			</div>
		</div>

	
		
	</div>
</div>