<body>
    <div class="container container-fluid contenido">
        <div class="row col-sm-12 mx-auto">
            <div class="col-lg-4">
                <div class="card mx-auto">
                    <div class="card-header">
                        <div class="mx-auto text-center">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Recuperación de Cartera Morosa</h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mx-auto">
                    <div class="card-header">
                        <div class="mx-auto text-center">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Gestión de Créditos y Cobranzas</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mx-auto">
                    <div class="card-header">
                        <div class="mx-auto text-center">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Asesoría Financiera, Contable y Tributaria</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<app-modal-login></app-modal-login>
<app-footer></app-footer>