<app-sidebar>
</app-sidebar>
<div class="contenido">
    <div class="position container contenido">
        <h2 class="text-center">Realizar cobranza</h2>
        <form [formGroup]="realizarCobranza" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="cliente">cliente:</label>
                <input type="text" formControlName="cliente" placeholder="cliente" name="cliente" class="form-control" id="cliente" required>
            </div>
            <div class="form-group">
                <label for="sucursal">Sucursal:</label>
                <input type="text" formControlName="sucursal" placeholder="sucursal" name="sucursal" class="form-control" id="sucursal" required>
            </div>
            <div class="form-group">
                <label for="cod_cliente">cod_cliente:</label>
                <input type="number" formControlName="cod_cliente" placeholder="cod_cliente" name="cod_cliente" class="form-control" id="cod_cliente" required>
            </div>
            <div class="form-group">
                <label for="banco">Banco:</label>
                <input type="text" formControlName="banco" placeholder="banco" name="banco" class="form-control" id="banco" required>
            </div>
            <div class="form-group">
                <label for="factura">Factura:</label>
                <input type="text" formControlName="factura" placeholder="factura" name="factura" class="form-control" id="factura" required>
            </div>
            <div class="form-group">
                <label for="monto_fact_ind">Monto Factura:</label>
                <input type="number" formControlName="monto_fact_ind" placeholder="monto_fact_ind" name="monto_fact_ind" class="form-control" id="monto_fact_ind" required>
            </div>
            <div class="form-group">
                <label for="depo_total">Depo Total:</label>
                <input type="number" formControlName="depo_total" placeholder="depo_total" name="depo_total" class="form-control" id="depo_total" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" formControlName="estado" placeholder="estado" name="estado" class="form-control" id="estado" required>
            </div>
            <button class="btn btn-success">Aceptar</button>
            <button class="btn btn-primary" routerLink="/cobro">Regresar</button>
        </form>
    </div>
</div>