<app-sidebar></app-sidebar>
<div class="contenido">
    <div class="position container">
        <div class="col">
            <h2 class="text-center">Reporte Cartera</h2>
            <hr>
            
            <div class="form-group row col-sm-5">
                <label for="ruc" class="col-sm-3 col-form-label" >R.U.C</label>
                <input type="text" (keyup)="onKey($event)" id="ruc" class="form-control col-sm-9">
            </div><br>
            
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>R.U.C</th>
                        <th>Razon Social</th>
                        <th>Sucursal</th>
                        <th>Factura</th>
                        <th>Tipo Docum.</th>
                        <th>Saldo Actual</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    <tr *ngFor="let carteras of cartera | paginate: { itemsPerPage: 10, currentPage: pageActual }">
                        <td>{{ carteras.ruc }}</td>
                        <td>{{ carteras.razon_social }}</td>
                        <td>{{ carteras.sucursal }}</td>
                        <td>{{ carteras.factura }}</td>
                        <td>{{ carteras.tipo_doc }}</td>
                        <td>{{ carteras.saldo_act }}</td>
                    </tr>
                </tbody>
            </table>
        
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div>