<app-sidebar></app-sidebar>
<div class="contenido">
    <div class="position container">
        <div class="col">
            <h2 class="text-center">Reporte Cartera</h2>
            <hr>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Ruc</th>
                        <th>Razon Social</th>
                        <th>Sucursal</th>
                        <th>Factura</th>
                        <th>Tipo Docum.</th>
                        <th>Saldo Actual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carteras of cartera | paginate: { itemsPerPage: 10, currentPage: pageActual }">
                        <td class="hidden">{{ carteras.llave }}</td>
                        <td>{{ carteras.ruc }}</td>
                        <td>{{ carteras.razon_social }}</td>
                        <td>{{ carteras.sucursal }}</td>
                        <td>{{ carteras.factura }}</td>
                        <td>{{ carteras.tipo_doc }}</td>
                        <td>{{ carteras.saldo_act }}</td>

                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div>