.contenido {
    background: url('/assets/img/bg-cobranzas.jpg') no-repeat;
    //background: url('/assets/img/cobranza banner.jpeg') no-repeat;
    //background: url('/assets/img/cobro.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px;
}

.position {
    margin-left:170px;
    margin-left: 240px;
    margin-top: 60px;
}

td {
    color: black;
}
