<div class="row no-gutters bg-light position-relative">
    <div class="col-md-3 mb-md-0 p-md-4">
        <ul class="list-group">
            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block " id="boton" (click)="gerente=!gerente">Datos Personales</button></ul>
            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block " id="boton" (click)="mantenimiento=!mantenimiento">Mantenimiento</button></ul>
            <div *ngIf="mantenimiento">
                <li class="list-group-item list-group-item-light"><button class="btn btn-block " id="boton" (click)="man_empleados=!man_empleados">Mantenimiento de empleados</button></li>
                <li class="list-group-item list-group-item-light">Mantenimiento de empresas</li>
                <li class="list-group-item list-group-item-light">Mantenimiento de facturas</li>
                <li class="list-group-item list-group-item-light">Mantenimiento de monedas</li>
            </div>

            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block" id="boton" (click)="empleados=!empleados">Empleados</button></ul>
            <div *ngIf="empleados">
                <li class="list-group-item list-group-item-light">Informacion general</li>
                <li class="list-group-item list-group-item-light">Seguimiento de empleado</li>
                <li class="list-group-item list-group-item-light">Asignacion de tareas</li>
            </div>
            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block" id="boton" (click)="importacion=!importacion">Documentos de importacion</button></ul>
            <div *ngIf="importacion">
                <li class="list-group-item list-group-item-light">Formatos de importacion</li>
                <li class="list-group-item list-group-item-light">Importacion de documentos</li>
            </div>
            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block" id="boton" (click)="empresas=!empresas">Empresas</button></ul>
            <div *ngIf="empresas">
                <li class="list-group-item list-group-item-light">Listado de empresas</li>
                <li class="list-group-item list-group-item-light">Empresas potencial </li>
            </div>
            <ul class="list-group-item list-group-item-action list-group-item-dark "><button class="btn btn-block" id="boton" (click)="reportes=!reportes">Reportes</button></ul>
            <div *ngIf="reportes">
                <li class="list-group-item list-group-item-light">Listado de empresas</li>
                <li class="list-group-item list-group-item-light">Empresas potenciales</li>
            </div>
        </ul>


    </div>
    <div class="col-md-9 position-static p-4 pl-md-0" id="datosPersonales" *ngIf="datosPersonales">
        <h1 class="text-center">Datos Personales</h1>
        <hr>
        <div class="row mx-md-9">
            <div class="col px-md-6 datos">
                <form>
                    <div class="form-group">
                        <label for="Nombres">Nombres: MIGUEL</label>

                    </div>
                    <div class="form-group">
                        <label for="Apellidos">Apellidos: SALAS</label>

                    </div>
                    <div class="form-group">
                        <label for="Direccion">Direccion: JR PUNO 3741</label>

                    </div>
                    <div class="form-group">
                        <label for="Celular">Celular: 982566347</label>

                    </div>
                    <div class="form-group">
                        <label for="Cargo">Cargo: GERENTE</label>

                    </div>

                </form>
            </div>
            <div class="col px-md-3">
                <div class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/gerente.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <button class="btn btn-primary">Ingrese imagen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>