<app-header></app-header>
<app-modal-login></app-modal-login>
<hr>
<div class="container informacion">

    <div class="row">
        <div class="col-sm empresa">
            <h1 class="text-center">Empresa</h1>
            <p class="text-center">Somos una empresa peruana Arequipeña , inscrita en Registros Públicos con Nº Partida 11364419 con fecha 09/03/2017, identificada con RUC 2061960789, especializada en servicio de “Courier y Cobranzas” riesgo crediticio y moroso. Bajo el cargo
                del Titular – Gerente, Jenny Marilú Mamani Zamalloa de profesión Contador Público Colegiado con Matricula 4309 , Couch Neurolinguistico Certificado internacionalmente por la ICI (Internacional Association of coaching – Institutes ) Nª
                10767.

            </p>
            <p class="text-center">La experiencia de 04 años laborando en el área en especifica de cobranzas nos permite ser conocedores de la metodología y características de las diferentes carteras, cada una con su particularidad, de acuerdo al sector que corresponda: financiero,
                comercial, empresarial, educación y otros.; ofreciendo un servicio especializado para satisfacer las necesidades de nuestros clientes de manera eficaz y efectiva.</p>
        </div>
    </div>
</div>
<hr>
<div class="container informacion">

    <div class="row">
        <div class="col-sm vision">
            <h1 class="text-center">Vision</h1>
            <p class="text-center">Generar un valor agregado en cobranzas, efectivizando la recuperación reduciendo el atraso de los pagos de sus honorarios, convirtiéndonos en su gestor estratégico y contribuyente al cumplimiento del pago correcto y justo de sus honorarios.</p>>
        </div>
        <div class="col-sm mision">
            <img src="assets/img/vision.jpg" width="400px">
        </div>
    </div>
    <hr>
    <div class="container informacion">

        <div class="row">
            <div class="col-sm mision">
                <img src="assets/img/mision.jpg" width="300px">
            </div>
            <div class="col-sm mision">
                <h1 class="text-center">Mision</h1>
                <p class="text-center"> Ser la mejor gestión de cobranza, ágil en el proceso, confiable, seguro, practico, eficiente, certeza en el cobro total de sus honorarios, utilizando los avances de la tecnología.
                </p>
            </div>
        </div>
        <app-footer></app-footer>