<nav class="navbar navbar-expand-lg navbar-dark  bg-mycolor">
    <div class="container">

        <a class="navbar-brand" [routerLink]="['/home']"><img src="/assets/img/logo_afintesac.png" width="68" alt="Logo"> Afinte S.A.C</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-3">
                <li class="nav-item mx-3">
                    <a class="nav-link" [routerLink]="['/nosotros']"><i class="fa fa-home"></i> Nosotros<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" [routerLink]="['/contacto']"><i class="fa fa-phone"></i> Contactos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" [routerLink]="['/gerente']" data-toggle="modal" data-target="#modal_login"><i class="fa fa-user"></i> Acceder</a>
                </li>
            </ul>
        </div>

    </div>

</nav>