.position {
    margin-left: 300px;
    margin-top: 80px;
}

.contenido {
    background: url('/assets/img/bg-cobranzas.jpg') no-repeat;
    //background: url('/assets/img/cobranza banner.jpeg') no-repeat;
    //background: url('/assets/img/cobro.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

td {
    
}