<div class="container-fluid">
    <div class="row">
        <aside class="col-12 col-md-2 p-0 fixed-top">
            <!--
            <div class="w-100">
                <button id="btn-nav-toggle" class="btn btn-light m-1">
                    <i class="fa fa-bars"></i>
                </button>
            </div>  
            -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <nav class="navbar navbar-expand-md flex-md-column flex-row align-items-start py-2 p-0">

                <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item active">
                            <a class="nav-link pl-0 text-center disabled" href="#"> <span class="d-none d-md-inline">Bienvenido a Afinte</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 dropdown-toggle text-center" aria-expanded="false" data-toggle="collapse" href="#submenuimportacion"><span class="d-none d-md-inline text-center">Importacion</span></a>
                            <ul class="list-unstyled collapse" id="submenuimportacion">
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/cartera']" routerLinkActive="router-link-active">Importacion cartera</a></li>
                                <li><a class="nav-link" [routerLink]="['/cobranza']" routerLinkActive="router-link-active">Importacion cobranza</a></li>
                                <li><a class="nav-link" [routerLink]="['/saldos']" routerLinkActive="router-link-active">Importacion cobranzas cierre</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 dropdown-toggle text-center" aria-expanded="false" data-toggle="collapse" href="#submenumantenimiento"><span class="d-none d-md-inline text-center">Mantenimiento</span></a>
                            <ul class="list-unstyled collapse" id="submenumantenimiento">
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/list-usuario']" routerLinkActive="router-link-active">Mantenimiento de usuario</a></li>
                                <li><a class="nav-link" [routerLink]="['/list-empresa']" routerLinkActive="router-link-active">Mantenimiento de empresas</a></li>
                                <li><a class="nav-link" [routerLink]="['/list-customer']" routerLinkActive="router-link-active">Mantenimiento de empleados</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0 dropdown-toggle text-center" aria-expanded="false" data-toggle="collapse" href="#submenureportes"><span class="d-none d-md-inline text-center">Reportes</span></a>
                            <ul class="list-unstyled collapse" id="submenureportes">
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/lista-cartera']" routerLinkActive="router-link-active">Reporte de Cartera</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/lista-cobranza-cierre']" routerLinkActive="router-link-active">Reporte de Cobranza Cierre</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <!--
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                      </li>
                    </ul>
                </div>
                -->
                <!--
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Brand</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
                -->
            </nav>
        </aside>

    </div>
</div>