aside{
	background-color: #F99819;
  	min-height: 100vh;
  	-webkit-box-shadow: 9px -3px 14px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px -3px 14px -9px rgba(0,0,0,0.75);
	box-shadow: 9px -3px 14px -9px rgba(0,0,0,0.75);
  }

main{
	margin-left: 17%;
	min-height: 100vh;
}

li ul li a{
	padding-left: 2.2em;
}

a{
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	color: white !important
}

.dropdown-toggle::after{
	float: right;
	margin-top: 0.7em;
}

nav{
	background-color: #F79211;
	border-bottom: solid;
	border-color: #EC8C11;
}

a:hover{
	background-color: white;
	color: black !important;
}

.active{
	background-color: #FFAA00 !important;
}

a>*{
	font-size: 1.04em;
}

a>span{
	padding-left: 0.5em;
}

a>.fa{
	margin-left: 0.5em;
}

#btn-nav-toggle>i{
	color: #F79211;
	font-size: 1.2em;
}

.navbar-toggler{
	display: none;
}

.navbar-toggler span{
	color: white;
	font-size: 1.4em;
}

@media only screen and (max-width: 767px) {
  aside{
  	min-height: 5vh;
  }
  main{
  	margin-top: 20%;
  	margin-left: 0;
  }


  @media only screen and (max-height: 414px) {

	main{
	  	margin-top: 12%;
	  	margin-left: 0;
	}

	}
  
  
  a:hover{
  	background-color: transparent;
  }
  a:active,a:hover{
  	color: white !important;
  }
  .navbar-toggler{
	display: inline-block;
	}

}



