<h1 class="container bg-dark text-white text-center my-4 pg-0 font-weight-bold">Cobranza</h1>
<div id="divsubircobranza">
  <form>
    <table class="table">
      <tr>
        <td><label>Ingresar Excel: &nbsp;&nbsp;</label></td>
        <td><input type="file" class="form-control-file" id="cargar-doc"></td>
      </tr>
      <tr>
        <td><label for="inputPagina">Pagina Excel:&nbsp;</label></td>
        <td><input type="number" class="form-control" id="inputPagina" placeholder="Pagina"></td>
      </tr>
      <tr>
        <td id="btnsubirexcel" colspan="2"><button type="button" class="btn btn-primary btn-sm">Subir Excel</button></td>
      </tr>
    </table>
  </form>
</div>
<div id="divimg">
  <img width="450px" height="180px" src="../assets/img/cobranza1.jpg" alt="">
</div>
<div id="contenedor-tabla">
    <table id="tabla-Cobranza" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>B</td>
            <td>C</td>
          </tr>
        </tbody>
      </table>
</div>
